#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#training .items {
    flex-direction: column;
}

#training .items .item {

    width: 100%;
}

.courses .course {
    flex-direction: column;
}

@media (max-widht:768px){
    nav{
        flex-direction: column;
        text-align: center;
    }
    img{
        width: 100%;
        height: auto;
    }
    .container{
        padding: 10px;
    }
}